* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f5f5f5;
  color: #333;
}

.navbar {
  background-color: #e27aff;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 8px 16px;
}

.nav-links a:hover {
  background-color: #b94ed6;
  border-radius: 5px;
}

.account-settings-container {
  padding: 40px;
  background-color: white;
  margin: 50px auto;
  width: 60%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 32px;
  margin-bottom: 20px;
  text-align: center;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.profile-summary {
  margin-bottom: 40px;
}

.profile-summary ul {
  list-style: none;
}

.profile-summary ul li {
  font-size: 18px;
  margin-bottom: 10px;
}

.profile-summary ul li strong {
  color: #622174;
}

.sub-nav {
  margin-top: 20px;
  text-align: center;
}

.sub-nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 30px;
}

.sub-nav a {
  color: #622174;
  text-decoration: none;
  font-size: 18px;
  padding: 10px 20px;
}

.sub-nav a:hover {
  background-color: #f0baff;
  border-radius: 5px;
}

footer {
  background-color: #e27aff;
  padding: 20px;
  text-align: center;
  color: white;
  position: relative;
  bottom: 0;
  width: 100%;
}

footer p {
  margin: 0;
}
